---
import i18next, { t } from "i18next";
import { localizePath } from "astro-i18next";
import { Trans } from "astro-i18next/components";
import { Icon } from 'astro-icon'
import Logo from "atoms:Logo";
import { getRecentPosts } from '@lib/api';
import { social } from '@lib/site';
const posts = await getRecentPosts(5, i18next.language);
---
<footer class="py-20">
    <div class="wrapper">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-12">
            <div class="col-span-2 row-start-2 md:row-start-1">
                <h1 class="inline-block w-32">
                    <Logo/>
                </h1>
                <h2 class="mt-8 h4 uppercase text-slate-400 tracking-widest font-heading font-bold">{t('footer.socialTitle')}</h2>
                <ul class="flex space-x-4 my-6 text-slate-500">
                    { social.map(i => <li>
                        { i.name === 'wpvip' ? 
                            <Icon class="w-8 h-8" name={i.name} title={i.title}/> : 
                            <Icon class="w-8 h-8" pack="fa" name={i.name} title={i.title}/>
                        }
                    </li> ) }
                </ul>
                <a href={localizePath('/contact/', i18next.language)} class="inline-block text-brand-midblue underline underline-offset-4">
                    {t('footer.socialAction')} ➝
                </a>
                <h2 class="mt-12 h4 uppercase text-slate-400 tracking-widest font-heading font-bold">{t('footer.legal.title')}</h2>
                <div class="text-sm text-slate-500 space-y-4">
                    <p><a href={localizePath('/privacy/', i18next.language)}>{t('footer.legal.navigation.privacy')}</a></p>
                    <p>
                        <Trans i18nKey="footer.legal.copyright">
                            Copyright <span>{(new Date).getFullYear()}</span>, Motto Design Studio Inc., All Rights Reserved
                        </Trans>
                    </p>
                </div>
            </div>
            { posts.length > 0 &&
                <div class="col-span-2">
                    <h2 class="md:text-right h4 uppercase text-slate-400 tracking-widest font-heading font-bold mb-6">{t('footer.blog.title')}</h2>
                    <ul aria-label="Blog post list">
                        {posts.map(({ title, date }) => (
                        <li class="flex odd:bg-slate-50 rounded p-4 text-slate-700 items-end justify-between">
                            <h3 class="text-sm font-heading">{title}</h3>
                            <time class="text-xs text-slate-400">{date}</time>
                        </li>
                        ))}
                    </ul>
                    <div class="md:text-right mt-6">
                        <a href="/blog/" class="inline-block text-brand-midblue underline underline-offset-4">
                            {t('footer.blog.action')} ➝
                        </a>
                    </div>
                </div>
             }
        </div>
    </div>
</footer>
<script is:inline src="//embed.typeform.com/next/embed.js"></script>