---
import Plain from '@layouts/Plain.astro';
import { social } from '@lib/site';
import { Icon } from 'astro-icon';
import ContactForm from '@/ContactForm';
import i18next, { t } from "i18next";
const { title, lang } = Astro.props;
i18next.changeLanguage(lang as string);
const action = import.meta.env.WP_URL + '/wp-json/contact-form-7/v1/contact-forms/1551/feedback';
---
<Plain>
	<div class="px-8 max-w-xl mx-auto pb-20">
		<h1 class="title my-12 text-center">{ title }</h1>
		<p class="flex justify-center space-x-2 md:space-x-6 text-base md:text-lead">
			<a class="text-brand-action underline underline-offset-2" href={`mailto:${t('business.email')}`}>{t('business.email')}</a>
			<span class="text-slate-300">/</span>
			<a class="text-brand-action underline underline-offset-2" href={`tel:${t('business.phone')}`}>{t('business.phone')}</a>
		</p>
		<ContactForm client:visible action={action} />
		<ul class="flex justify-center space-x-4 my-6 text-slate-500">
			{ social.map(i => <li><a href={i.link} title={i.title}>
				{ i.name === 'wpvip' ? 
					<Icon class="w-8 h-8" name={i.name} title={i.title}/> : 
					<Icon class="w-8 h-8" pack="fa" name={i.name} title={i.title}/>
				}
			</a></li> ) }
		</ul>
	</div>
</Plain>