---
import { getAllPostsWithSlugs, getPost } from '../lib/api';
import Plain from '../layouts/Plain.astro';

export async function getStaticPaths() {
  const postsWithSlugs = await getAllPostsWithSlugs();
  return postsWithSlugs.edges.map(({ node }) => {
    return {
      params: { slug: node.slug },
    };
  });
}

const { slug } = Astro.params;
const post = await getPost(slug);
---
<Plain title={post.title} description={post.title}>
  <div class="wrapper">
    <div>
      <a href="/blog">← Back to the Blog</a>
    </div>
    <article class="py-12">
      <header class="text-center mb-12 max-w-screen-lg mx-auto">
        <h1 class="mb-5 text-h2 font-bold font-heading">{post.title}</h1>
        <time>{post.date}</time>
        {post.imageUrl && 
          <img class="rounded-xl" src={post.imageUrl} alt={post.imageAlt} class="inline-block" />
        }
      </header>
      <div class="prose lg:prose-xl mx-auto" set:html={post.content} />
    </article>
  </div>
</Plain>
