---
import Card from "./Card.astro";
const services = await Astro.glob("../pages/wordpress-services/*.md");
const featured = [
    'wp-pagespeed', 
    'wp-security',
    'wp-accessibility', 
]
---
<section>
    <h1 class="my-12 title text-center">Our WordPress Services</h1>
    <div class="grid grid-cols-1 md:grid-cols-3 place-content-center gap-12">
    {services
        .filter(i => featured.includes(i.frontmatter.sku))
        .sort((a, b) =>  featured.indexOf(a.frontmatter.sku) > featured.indexOf(b.frontmatter.sku) ? 1 : -1 )
        .map(service => 
        <Card href={service.url} title={service.frontmatter.title}>
            <img slot="image" class="h-52" height="208" width="309" src={`/assets/svgs/services/${service.frontmatter.sku}.svg`}  alt={service.frontmatter.title} />
            <p class="text-slate-600 text-sm">{service.frontmatter.description}</p>
        </Card>
    )}
    </div>
    <p class="text-center my-12">
        <a href="/wordpress-services" class="text-link">More WordPress Services ➝</a>
    </p>
</section>