---
import Curve from '../svgs/curve.svg.astro';
import LogoCcm from '../logos/ccm-logo.webp';
import LogoAudicus from '../logos/audicus-logo.webp';
import LogoMadInAmerica from '../logos/mad-in-america-logo.webp';
import LogoKrispyKreme from '../logos/krispy-kreme-logo.webp';
import PartnerGSuite from '../partners/google-g-suite-certified-logo.webp';
import PartnerKinsta from '../partners/kinsta-logo.webp';
import PartnerWpPlugin from '../partners/wordpress-plugin-logo.webp';
import PartnerWpVip from '../partners/wordpress-vip-logo.webp';

const logos = [
	{alt: 'Mad in America', src: LogoMadInAmerica, width: 327, height: 32},
	{alt: 'Krispy Kreme Canada', src: LogoKrispyKreme, width: 186, height: 32},
	{alt: 'CCM', src: LogoCcm, width: 225, height: 32},
	{alt: 'Audicus', src: LogoAudicus, width: 225, height: 32},
]

const partners = [
	{ alt: 'Kinsta', src: PartnerKinsta, width: 758, height: 150 },
	{ src: PartnerGSuite, alt: 'Google GSuite Certified', width: 150, height: 150 },
	{ src: PartnerWpPlugin, alt: 'WordPress Plugin Author', width: 341, height: 150 },
	{ src: PartnerWpVip, alt: 'WordPress VIP Agency Partner', width: 133, height: 150 },
]
---
<div class="mt-20">
    <div class="wrapper relative z-10 -mb-48">
        <div class="bg-white shadow-lg rounded-lg p-12 md:p-16 tex-center max-w-4xl mx-auto">
            <h2 class="text-center uppercase tracking-widest text-slate-400 font-heading mb-8 pb-4 border-b border-slate-200">
                Companies that trust us
            </h2>	
            <div class="flex place-content-center flex-wrap gap-8">
                {logos.map(logo => 
                    <img title={logo.alt} class="inline-block w-36 object-contain grayscale mix-blend-multiply" src={logo.src} alt={logo.alt} />
                )}
            </div>
        </div>        
    </div>
    <div class="bg-gradient-to-b from-brand-skyblue pt-[200px] to-brand-dark relative">
        <Curve class="w-screen absolute -top-1 z-0"/>
        <div class="wrapper text-white text-center max-w-2xl py-20">
            <h2 class="text-center uppercase tracking-widest text-blue-100 font-heading mb-8 pb-4 border-b border-blue-100/30">
                Our Partners
            </h2>	

            <div class="grid grid-cols-2 md:flex justify-center gap-8 my-12">
                {partners.map(logo => 
                <div class="text-center">
                    <img title={logo.alt} class="inline-block h-12 w-24 object-contain grayscale invert" src={logo.src} alt={logo.alt} />
                </div>
                )}
            </div>

            We partner and work with industry leading companies so you don't have to wonder if you're working with the best. We've worked with many companies over the years and have a thorough vetting process so we're 100% confident with the partners we work with.
        </div>
    </div>
</div>

