---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import i18next from "i18next";

export interface Props {
	content: {
		title: string;
		description: string;
		image?: {
			src: string;
			alt: string;
		};
	}
}

const { content: { image, title, description } } = Astro.props as Props;
---
<html lang={i18next.language}>
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<article class="wrapper content">
			<header class="text-center">
				<h1 class="text-h1 font-heading font-bold">{title}</h1>
				{image && (
					<img
						width="720"
						height="420"
						loading="lazy"
						src={image.src}
						alt={image.alt}
					/>
				)}
			</header>
			<main class="wrapper">
				<div class="prose mx-auto">
					<slot></slot>
				</div>
			</main>
		</article>
		<Footer />
	</body>
</html>
