---
import Plain from "../layouts/Plain.astro";

export interface Props {
	content: {
		title: string;
		description: string;
		sku: string;
		price: number;
		term: string;
		included?: string[];
		subnav?: string[];
	}
}

const { content: { 
	price, 
	term, 
	sku, 
	title, 
	description,
	included,
	subnav,
} } = Astro.props as Props;

const files = await Astro.glob("../pages/wordpress-services/*.md");
const services = included && files.filter(i => included.includes(i.frontmatter.sku));

const headerLink = ( heading ) => {
	return '#' + heading.toLowerCase().replaceAll(' ', '-');
}

const fmt = new Intl.NumberFormat('en-CA', {
  style: 'currency',
  currency: 'USD',
});

---
<Plain>
	<div class="wrapper">
		<div>
			<a href="/wordpress-services">← WordPress Services</a>
		</div>		  
		<article>
			<header class="grid grid-cols-3 items-center gap-12">
				<div class="col-span-2">
					<h1 class="text-h1 font-heading font-bold">{title}</h1>
					{ description && 
						<p class="lead">{description}</p>
					}
				</div>
				<img src={`/assets/svgs/services/${sku}.svg`} />
			</header>
			<main class="flex justify-between gap-12 mt-12">
				<div class="w-80">
					<div class="bg-slate-100 rounded-lg p-4 sticky top-8">

					<a href={'/contact?service=' + encodeURIComponent(title)} class="px-6 py-4 bg-brand-action text-white rounded-full w-full block text-center font-heading uppercase font-semibold tracking-widest">
						Sign Up Now
					</a>
					<p class="text-lead font-heading my-8">{fmt.format(price)}/{term}</p>
					{ subnav && 
					<nav class="flex flex-col">
						{subnav.map(i => 
							<a class="block odd:bg-slate-200 rounded px-4 py-3" href={headerLink(i)}>{i}</a>
						)}
					</nav>
					}
					</div>
				</div>
				<div class="prose">
					{ services &&
						<h2>Included</h2>
						<div class="flex space-x-6">
							{ services.map(service => 
								<a href={service.url} class="p-8 shadow-lg flex-1">
									<h3>{service.frontmatter.title}</h3>
									<p>{service.frontmatter.description}</p>
								</a>
							) }
						</div>
					}
					<slot></slot>
				</div>
			</main>
		</article>
	</div>
</Plain>